# OS X files
.DS_Store

# Build artifacts
build/
include/ta_config.h

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

